@{
    var returnUrl = ViewData["returnUrl"];
}
<header>
    <div class="header-part">
        <a href="@returnUrl" class="logo"><img src="/img/logo.png"/></a>
        <div class="horizontal-center-supporter">
            <div class="horizontal-center">
                <span class="slogan">"Tasks" creating and management application.</span>
            </div>
        </div>
    </div>
    <nav class="navigation-section">
        <a class="navigation-element"
           asp-action="Login" asp-controller="Account" asp-route-returnUrl="@returnUrl">
            Sign in
        </a>
        <a class="navigation-element"
           asp-action="Register" asp-controller="Account" asp-route-returnUrl="@returnUrl">
            Sign up
        </a>
    </nav>
</header>