<header>
    <div class="header-part">
        <a asp-action="Index" asp-controller="Home" class="logo"><img src="/img/logo.png"/></a>
        <div class="horizontal-center-supporter">
            <div class="horizontal-center">
                <span class="slogan">"Tasks" creating and management application.</span>
            </div>
        </div>
    </div>
    <nav class="navigation-section">
        <a class="navigation-element"
           asp-action="Index" asp-controller="Home">
            Home
        </a>
        <a class="navigation-element"
           asp-action="Index" asp-controller="Home">
            Login
        </a>
    </nav>
</header>