@{
    Layout = null;
}
@{
    string addition = @ViewBag.Addition as string ??
                      string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" />
    <title>PostTask @addition</title>
    <environment names="development">
        <link rel="stylesheet" type="text/css" asp-href-include="/bundles/styles.css"/>
    </environment>
    <environment names="staging, production">
        <link rel="stylesheet" type="text/css" asp-href-include="/bundles/styles.min.css" />
    </environment>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
</head>
<body>
    @await Html.PartialAsync("_Header")
    <content>
        @await RenderSectionAsync("Content")
    </content>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>