@font-face {
    font-family: Ubuntu;
    src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype'),
         url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype'),
         url('/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype'),
         url('/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype'),
         url('/fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype'),
         url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype'),
         url('/fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype'),
         url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype')
}

/*Common settings*/
body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    background-color: white;
    color: black;
}

/*Common text styles*/
div.center-align {
    text-align: center;
}
.important-text {
    text-align: center;
    margin: 0;
    padding: 20px 5px;
    font-size: 28px;
    font-weight: 600;
}
p {
    margin: 0;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: 500;
}
h1 {
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    font-size: 33px;
}
h2 {
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
h3 {
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    font-size: 27px;
}
h4 {
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
h5 {
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    font-size: 21px;
}
h6 {
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
a.button {
    padding: 10px 7.5px;
    text-align: center;
    background-color: #1620A6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition-duration: 0.3s;
}
a.button:hover {
    background-color: #000052;
    color: #5DACBD;
}

a.button:active {
    color: white;
}
button {
    padding: 10px 7.5px;
    text-align: center;
    background-color: #1620A6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition-duration: 0.3s;
}
button:hover {
    background-color: #000052;
    color: #5DACBD;
}

button:active {
    color: white;
}
a.clickable-text {
    color: #0077B6;
}

/*Sections,blocks and lists (not form)*/
div.text-block {
    padding: 10px;
    text-align: center;
    background-color: #000052;
    color: white;
}
div.buttons-set {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}
div.buttons-set > * {
    margin: 0 5px;
}
div.actions-section {
    display: flex;
    padding: 10px;
    margin: 0;
}

/*Layout styles*/

/*Content*/
content {
    display: flex;
    width: 60%;
    min-height: 90vh;
    margin: 0 auto;
    padding: 5vh 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    content {
        width: 80%;
    }
}

/*Form styles*/
form {
    max-width: 400px;
    padding: 20px 5px;
    background-color: #5dacbd;
    color: azure;
}
div.form-group {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
label {
    padding: 5px 0;
    font-size: 22px;
}
input[type="text"] {
    padding: 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    transition-duration: 0.2s;
}
input[type="text"]:focus {
    border-radius: 20px;
}
input[type="password"] {
    padding: 2px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    transition-duration: 0.2s;
}

input[type="password"]:focus {
    border-radius: 20px;
}

/*Lists*/
ol {
}
ul {
}